.container {
  margin: 1rem;
}

.formCadastro {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  margin-top: 1rem;
}

.teste {
  margin-top: 1rem;
}

.container input,
.container select {
  margin: 0 0 0.5rem 1rem;
}
